.embla {
    position: relative;
    margin: 80px 0;
    overflow: hidden;
        button{
            background-color: rgb(252, 252, 252);
            color: black;
            font-size: 20px;
            margin: 40px 20px;
            padding: 10px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }
        a{
            text-decoration: none;
        }
  }
.embla__prev{
    position: absolute;
    left: 0;
    top: 38%;
    border: 1px solid rgb(153, 153, 153) !important;
}

.embla__next{
    position: absolute;
    right: 0;
    top: 38%;
    border: 1px solid rgb(153, 153, 153) !important;
}
.embla__prev:hover{
    background-color: rgb(252, 252, 252);
}
.embla__next:hover{
    background-color: rgb(252, 252, 252);
}

  .embla__container {
    position: relative;
    display: flex;
  }
  .embla__slide {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 35%;
    min-width: 0;
    margin: 0px;
    text-decoration: none;

    h4{
        color: white;
        background-color: rgb(24, 24, 24);
        padding: 10px 20px;
        margin-top: 25px;
        border-radius: 8px;
    }
    img{
        max-width: 450px;
        border-radius: 16px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    h3{
        font-size: 16px;
    }
    
  }

  .openModalcpf{
    position: relative;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.918);
    transition: 0.5s;
    z-index: 40 !important;
}
.modal-button{
    margin-top: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
}

  //MEDIA QUERIES

  @media (max-width:1280px){
    .embla{
        .buttons{
            top: 30%;
        }
        .embla__container{
            .embla__slide{
                flex: 0 0 50%
            }
        }
    }
  }

  @media (max-width:1280px){
    .embla{
        margin: 40px 0;
        .embla__container{
            .embla__slide{
                flex: 0 0 100%;
                margin: 10px;
                img{
                    max-height: 300px;
                }
            }
        }
        .embla__next, .embla__prev{
            top: 30%;
        }
    }
  }