.roomvo-button{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 16px;
    margin: 15px;
    z-index: 10;
    transition: 0.5s;
    cursor: pointer;
    i{
        color: white;
        font-size: 35px;
    }
}
.roomvo-button:hover{
    background-color: #3131319c;
}

.roomvo-iframe{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1a1a1aa2;
    backdrop-filter: blur(2px);
    z-index: 3000;
    .close-iframe{
        position: absolute;
        height: 90px;
        width: 120px;
        top: 45px;
        left: 85px;
        background-color: transparent;
        cursor: pointer;
    }
}

//MEDIA QUERIES

@media(max-width:940px) {
    .roomvo-iframe{
        .close-iframe{
            height: 90px;
            width: 90px;
            top: 45px;
            left: 25px;
            background-color: transparent;
        }
    }
    .roomvo-button{
        p{
            display: none;
        }
    }
}