.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    overflow: hidden;
    z-index: 15;
    .sidebar-container{
        width: 100%;
        padding: 40px;
        position: absolute;
        top: 10%;
        h2{
            margin: 40px 0;
            padding-bottom: 20px;
            border-bottom: 3px solid white;
            transition: 1.5s;
        }
        a{
            display: list-item;
            text-decoration: none;
            list-style: none;
            margin: 15px 0;
            color: white;
            font-weight: 300;
            padding-bottom: 10px;
            border-bottom: 1px solid rgb(77, 77, 77);
            transition: 1.5s;
            cursor: pointer;
        }
    }
    .close-sidebar{
        position: absolute;
        width: 90px;
        right: 0;
        left: 0;
        bottom: 10px;
        margin: 0 auto;
        background-color: rgb(109, 109, 109);
        border-radius: 100px;
        padding: 5px 0;
        cursor: pointer;
        i{
            font-size: 25px;
        }
    }

}
.open-sidebar{
    position: fixed;
    width: 90px;
    left: 0;
    right: 0;
    top: 140px;
    margin: 0 auto;
    background-color: #1a1a1a;
    padding: 5px 0;
    border-radius: 100px;
    text-align: center;
    z-index: 14;
    cursor: pointer;
    i{
        font-size: 25px;
        color: white;
    }
}


//MEDIA QUERIES

@media(max-width: 940px){
    .sidebar{
        width: 100%;
    }
}