.slick-slider{
    height: 700px;
    margin: 60px 0;
    overflow: hidden;
    .slick-slide{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
        text-align: center;
        margin: 0 !important;
    }
    a{
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 10px 25px;
        border-radius: 8px;
        text-align: center;
        margin: 40px 0;
    }
}

.view-1{
    background-image: url("/Mockup.jpg");
    height: 400px;
    width: 400px !important;
    border-radius: 16px;
    margin: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.view-2{
    background-image: url("/Mockup1 copy.jpg");
    height: 400px;
    width: 400px !important;
    border-radius: 16px;
    margin: 40px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.view-3{
    background-image: url("/Charcoal-1-1024x1024.webp");
    height: 400px;
    width: 400px !important;
    border-radius: 16px;
    margin: 40px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media(max-width:940px){
    .slick-slider{
        margin: 0;
        padding: 0;
        .slick-slide{
            height: 500px;
        }

    }
    .view-1, .view-2, .view-3{
        height: 320px;
        width: 320px !important;
    }
}

